
brg {
    padding: 20px;
}

.navbar {
    background-color: #373b53;
}

.breadcrumb {
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}
.breadcrumb a {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    color: white;
    font-size: 14px;
    line-height: 46px;
    width: 220px;
    position: relative;
    background: #282d61;
}
 .breadcrumb a:last-child {
    width: 230px;
}

.second{
  padding-left:15px;
  
}
.breadcrumb a.active1,
.breadcrumb a:hover {
    background: #222753;
    background: linear-gradient(#13162e, #0d0f20);
    transition: all 1s;
}
.breadcrumb a.active1:after,
.breadcrumb a:hover:after {
    background: #222753;
    background: linear-gradient(#13162e, #0d0f20);
    transition: all 1s;
}


.breadcrumb a:after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 50px;
    height: 50px;
    transform: scale(0.8) rotate(45deg);
    z-index: 1;
    background: #282d61;
    box-shadow: 3px -3px 0 2px rgba(255, 255, 255, 0.8);
    border-radius: 0 5px 0 50px;
}
.breadcrumb a:last-child:after {
    content: none;
}


#center2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 65vh;
}